version: "3.8"

services: 

    db:
        image: postgres:latest
        container_name: database
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: admin
            POSTGRES_DB: schebobule
        volumes:
            - postgres_data:/var/lib/postgresql/18/docker
        ports:
            - "5432:5432"
        env_file:
            - ./server/.env
        healthcheck:
            test: ["CMD", "pg_isready", "-U", "postgres", "-d", "schebobule", "-h", "localhost"]
            interval: 10s
            retries: 5
            start_period: 30s
            timeout: 5s

    server:
        build:
            context: ./server
            dockerfile: Dockerfile
        container_name: server
        environment:
            DB_HOST: db
            DB_PORT: 5432
        ports:
            - "5000:5000"
        depends_on:
            db:
                condition: service_healthy
        volumes:
            - ./server:/server
        env_file:
            - ./server/.env

    client:
        build:
            context: ./client
            dockerfile: Dockerfile
        container_name: schebobule-client
        ports:
            - "3000:3000"
        depends_on:
            - server
        env_file:
            - ./client/.env
        volumes:
            - ./client:/app
            - /app/node_modules

volumes:
  postgres_data:
    driver: local
